@import "./variables.scss";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  min-width: 340px;
  line-height: 170%;

  background: #fcfcfc url(/dist/background-top.svg) no-repeat;
  background-attachment: fixed;
  background-size: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  padding: 10px 0px;
  margin: 0px;
}

pre {
  padding: 5px 10px;
  background-color: #eee;
  font-family: "Roboto Mono";
  overflow: auto;

  code.hljs {
    background: #eee;
  }
}

a {
  text-decoration: none;
  color: #039be5;
}

table {
  width: 100%;
  text-align: left;
  background-color: #f8f9fa;
}

td {
  border-width: 0px;
  padding: 0px 10px;
}

th {
  background-color: #78909c;
  padding: 10px;
  font-weight: bold;
  color: white;
}

tr {
  background-color: #f8f9fa;
  border-bottom: 1px solid #cfd8dc;
}

.img-parent {
  padding: 20px 0px;
}

.img-parent img {
  max-width: 100%;
}

pre {
  line-height: 100%;
}

h1 {
  font-weight: 300;
  font-size: 34px;
  line-height: 40px;
  color: #757575;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0 10px;
}

.spacer-header {
  height: 50px;
}

.content_grid {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, $max-content-width) 1fr;
}

.page {
  word-break: break-word;
}

.col_gutter,
.col_main {
  max-width: $max-content-width;
  min-height: 10px;
}

@media (max-width: $tablet) {
  .col_gutter {
    width: 0;
  }

  .col_main {
    max-width: 100vw;
    //padding: 0px 20px;
  }
}

.nav {
  position: fixed;
  right: 0px;
}

.dropdown {
  margin-top: 20px;
  a,
  span {
    font-size: 13px;
    line-height: 22px;
    border-left: 4px solid #039be5;
    padding-left: 10px;
    clear: both;
    display: block;
  }

  span {
    color: #757575;
    font-weight: bold;
  }

  a {
    color: #212121;
    width: 100%;
    text-decoration: none;

    &:hover {
      color: #039be5;
      cursor: pointer;
    }
  }
}

img[alt] {
  margin: 16px 0px;
}

table {
  margin: 16px 0px;
}

.shadow_top {
  box-shadow: 0 -2px 2px -2px $shadow;
}

.shadow_bottom {
  box-shadow: 0 2px 2px -2px $shadow;
}

.shadow_left {
  box-shadow: -2px 0 2px -2px $shadow;
}

.shadow_right {
  box-shadow: 2px 0 2px -2px $shadow;
}

.shadow_top_left_right {
  box-shadow: 0 -2px 2px -2px $shadow, -2px 0 2px -2px $shadow,
    2px 0 2px -2px $shadow;
}

.shadow_bottom_left_right {
  box-shadow: 0 2px 2px -2px $shadow, -2px 0 2px -2px $shadow,
    2px 0 2px -2px $shadow;
}

.shadow_left_right {
  box-shadow: -2px 0 2px -2px $shadow, 2px 0 2px -2px $shadow;
}

.shadow_all {
  box-shadow: 0 0 5px $shadow;
}

.section {
  margin: 30px auto 0px auto;
  width: 100%;

  @media (max-width: $phone) {
    margin-top: 15px;
  }

  &:last-child:nth-child(2) {
    margin-top: 0px;
  }

  &:not(:first-child) {
    margin-top: 0px;
  }

  .content {
    @extend .shadow_left_right;

    background-color: white;
    padding: 20px;

    border-radius: 0px 0px 2px 2px;

    &:first-child {
      @extend .shadow_top_left_right;
      border-radius: 2px;
    }

    &:last-child {
      @extend .shadow_bottom_left_right;
    }
  }

  &:last-child {
    padding-bottom: 100px;
  }
}

#docs {
  height: 38px;
  //overflow: hidden;
  cursor: pointer;

  &:hover {
    overflow: inherit;

    .dropdown {
      top: 40px;
    }
  }
}

.ellipsize {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

p {
  padding: 0px;
  margin: 16px 0px;

  &[align="center"] {
    text-align: left;
  }
}

h3,
h4 {
  padding: 2px 0px;
  margin: 16px 0px 10px 0px;
  border-bottom: 1px solid #eee;
}

blockquote {
  background-color: #eee;
  margin: 0px;
  padding: 5px 10px;
  border-radius: 3px;
  p {
    padding: 0px;
    margin: 0px;
  }
}

code {
  background-color: #eee;
  padding: 2px 4px;
  border-radius: 3px;
}
