@import "../../styles/variables.scss";

#header-bar {
  .header-clone {
    position: fixed;
    top: 0px;
    z-index: 3;
    width: 100%;

    &.spacer {
      position: static;
      opacity: 0;
    }

    .content {
      width: 100%;
      max-width: $max-content-width;
      margin: 0 auto;

      @media (max-width: $tablet) {
        width: 100%;
      }
    }

    header {
      padding: 4px 0px 4px 0px;
      background-color: #ffffff;
      color: #a0a0a0;
      box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.8);
      width: 100%;

      .content {
        display: grid;
        grid-template-columns: 1fr fit-content(100%);
        justify-content: space-between;
        padding: 0px 20px;
      }

      .link {
        line-height: $header-height;
      }

      .title {
        a.logo {
          display: block;
          width: 250px;
          overflow: hidden;
        }
        img {
          margin-top: 4px;
          height: $header-height - 8px;
        }
      }

      a {
        color: inherit;
      }

      .icon_button {
        display: grid;
        grid-template-columns: fit-content(100%) fit-content(100%);
        align-items: center;

        i {
          margin-left: 8px;
        }

        transition: 0.4s color;
        &:hover {
          color: black;
        }
      }
    }

    .subheader {
      background-color: $blue;
      box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
      color: white;

      h2 {
        font-weight: normal;
        font-size: 20px;
        padding: 24px 0px 0px 0px;
      }

      .content {
        padding: 0px 20px;
      }

      .tab-spacer {
        height: 14px;
      }

      .tabs {
        overflow: auto;
        .tab {
          float: left;
          border-bottom: 3px solid $blue;
          font-weight: 500;
          font-size: 14px;
          line-height: 44px;
          opacity: 0.7;
          padding: 8px 20px 5px 20px;
          user-select: none;
          display: block;
          color: white;
          transition: opacity 0.1s linear;
          text-transform: uppercase;

          @media (max-width: $phone) {
            padding: 0px 10px;
          }

          &.selected {
            border-bottom: 3px solid white;
            opacity: 1;
          }

          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }
      }
    }
  }
}
