  <div id="header-bar" :class={spacer}>
    <div class="header-clone" v-for="header in headers" :class="header">
      <header class="content_grid">
          <div class="col_gutter" />
          <div class="content col_main">
            <div class="title">
              <a href="/" class="logo"><img src="../../assets/oss-logo-small.png" /></a>
              <!-- <router-link to="/" class="text">Open Source</router-link> -->
            </div>

            <div class="link">
              <a href="https://firebase.google.com/docs/">
                <div class="icon_button">
                  <div>Docs </div>
                  <i class="material-icons">open_in_new</i>
                </div>
              </a>
            </div>

          </div>
          <div class="col_gutter" />
        </header>
        <div class="subheader" v-if="enable_subheader">
          <div class="content">
            <h2 v-if="subheader_title">{{subheader_title}}</h2>
            <div class="tabs">
              <a class="tab" v-for="tab in subheader_tabs"
                   :class="{selected: subheader_tab_selection == tab.text.toLowerCase()}"
                   :href="tab.link">
                {{tab.text}}
              </a>
            </div>
            <div class="tab-spacer" v-if="!subheader_tabs"></div>
          </div>
        </div>
    </div>
  </div>
