@import "../../styles/base.scss";
@import "../../styles/variables.scss";

#projects {
  .section {
    h1 {
      padding: 16px 0px 0px 0px;
      margin: 0px;
      line-height: 1em;
    }

    h2 {
      font-weight: 300;
      font-size: 24px;
      line-height: 32px;
      color: #212121;
      border-bottom: 1px solid #ebebeb;
    }

    h3 {
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      color: #212121;
    }

    h4 {
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      color: #212121;
    }

    h5 {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #212121;
    }
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;
  }

  .body-column {
    display: grid;
    grid-template-columns: 1fr fit-content(100%);
    grid-template-areas:
      "left right"
      "content content";

    min-height: 80px;

    > .header_content {
      grid-area: content;

      &:first-of-type {
        margin-top: 0px;
      }
    }

    @media (max-width: $tablet) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "left"
        "right"
        "content";
    }
  }

  .badges {
    margin-top: 16px;
    display: grid;
    grid-auto-columns: max-content;
    grid-template-areas:
      "button button"
      "button button"
      "copy copy";
    grid-gap: 6px;

    .badge {
      border-radius: 3px;
      overflow: hidden;
      width: 100%;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      font-size: 0.9em;
      text-align: center;
      padding: 5px 16px 0px 16px;
      font-weight: bold;

      background-color: $blue;
      color: white;
      * {
        height: 30px;
      }
      .key {
        display: inline;
        margin-right: 2px;

        .material-icons {
          font-size: 18px;
          position: relative;
          top: 4px;
          width: 18px;
        }
      }
      .value {
        display: inline;
      }

      transition: box-shadow 0.2s;
    }

    .badge:hover {
      box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.25);
    }

    .badge-action {
      color: lighten($blue, 10%);
      background-color: white;

      // Action buttons are not relevant on a phone
      @media (max-width: $phone) {
        display: none;
      }
    }
  }

  .related {
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: fit-content(100%) 1fr;
    align-items: center;
    margin-top: 16px;

    .title {
      margin-right: 10px;
    }
    .repo {
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 100px;
      padding: 0px 14px;
      float: left;
      font-size: 0.8em;
      margin-right: 10px;
      margin-bottom: 4px;

      align-items: center;
      color: black;
      opacity: 0.5;

      .material-icons {
        margin-right: 8px;
        font-size: 1.5em;
        position: relative;
        top: 5px;
      }

      transition: 0.2s;
      &:hover {
        cursor: pointer;
        background-color: $yellow;
        color: darken($yellow, 50%);
        border: 1px solid darken($yellow, 5%);
        opacity: 1;
      }
    }
  }

  .copy-code-container {
    position: relative;
    clear: both;

    grid-area: copy;
    input {
      width: 100%;
      height: 30px;
      margin-top: 5px;

      font-family: monospace;
      padding: 3px 40px 3px 6px;
      box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border: 1px solid #d1d5da;
    }

    button {
      height: 30px;

      position: absolute;
      right: 0px;
      bottom: 0px;

      border: 1px solid #bbb;
      background-color: #eee;

      .material-icons {
        overflow: hidden;
        line-height: 20px;
        display: block;
        font-size: 20px;
      }
    }
  }

  .icon {
    //font-size: 100px;
    background-color: #eee;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    padding-top: 10px;
    border-radius: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  img[hidden] {
    display: none;
  }

  .label-icon {
    opacity: 0.4;
    margin-left: 7px;
  }

  .section-marker {
    position: relative;
    top: -150px;
  }

  .dropdown a.selected {
    font-weight: bold;
  }

  .section {
    > .content {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    &.footer {
      margin-top: 10px;

      .content {
        text-align: center;
        color: #aaa;
        font-size: 0.8em;
      }
    }
  }
}
