<div id="projects">
  <img src="../../assets/background-top.svg" hidden/>
  <header-bar :enable_subheader="found" subheader_title="Documentation" ref="header" :subheader_tabs="subheader_tabs" ></header-bar>

  <four-oh-four v-if="not_found"></four-oh-four>
  <div class="page content_grid" v-if="found">
    <div class="col_gutter"></div>
    <div class="sections col_main">

    <!-- Title section -->
    <div class="section title-section">
      <div class="content toc-grid">
        <div class="body-column">
          <div class="left">
            <h1>
              {{header.name}}
            </h1>

            <div class="related" v-if="!is_subpage">
              <div class="repos">
                <a class="repo test" :href="`/projects/${repo}`" v-for="repo in Object.keys(config.related || {})">
                  <i class="material-icons">link</i><span>{{repo}}</span>
                </a>
              </div>
            </div>
          </div>

          <div class="right">
            <div class="badges" v-if="!is_subpage">
              <a :href="`https://github.com/${config.org}/${config.repo}/stargazers`">
                <div class="badge">
                  <div class="key">
                    <i class="material-icons">star</i>
                  </div>
                  <div class="value">{{config.stars}}</div>
                </div>
              </a>

              <a :href="`https://github.com/${config.org}/${config.repo}/commits/master`">
                <div class="badge">
                  <div class="key">
                      <i class="material-icons">access_time</i>
                  </div>
                    <div class="value">{{config.last_updated_from_now}} ago</div>
                </div>
              </a>

              <a :href="`https://github.com/${config.org}/${config.repo}/`">
                <div class="badge badge-action">
                  <div class="key">
                    <i class="material-icons">code</i>
                  </div>
                  <div class="value">Clone Repo</div>
                </div>
              </a>

                <a :href="`https://github.com/${config.org}/${config.repo}/archive/master.zip`">
                  <div class="badge badge-action">
                    <div class="key">
                        <i class="material-icons">file_download</i>
                    </div>
                      <div class="value">Download</div>
                  </div>
                </a>

                <div class="copy-code-container" v-if="show_clone_cmd">
                  <input
                    id="git-clone-copy-txt"
                    type="text"
                    :value="`git clone git@github.com:${config.org}/${config.repo}.git`"
                    readonly />
                  <button
                    id="git-clone-copy-btn"
                    class="copy-btn"
                    type="button"
                    data-clipboard-target="#git-clone-copy-txt">
                    <i class="material-icons">content_copy</i>
                  </button>
                </div>
            </div>
          </div>

          <!-- Header section body -->
          <div class="header_content" v-html="header.content" v-if="header.content"></div>

        </div><!-- END body-column -->

        <!-- Table of contents shown if > 1 sections -->
        <div class="dropdown" v-if="sections.length > 1">
            <span>Contents</span>
            <a
              v-for="section in sections"
              :href="section.ref"
              :class="{selected: section.name==dropdown_selection, ellipsize: true}">
                {{section.name}}
            </a>
        </div>

      </div><!-- END content -->
    </div><!-- END title-section -->

    <!-- All h2 sections -->
    <div v-for="section in sections" class="section">
      <div class="section-marker" :id="section.id" :name="section.name"></div>
      <div class="content">
        <h2>{{section.name}}</h2>
        <div v-html="section.content"></div>
      </div>
    </div>

      <!-- Page footer -->
      <div class="section footer">
        <div class="content">
          This page was generated approximately {{config.last_fetched_from_now}} ago.<br />
          For copyright and licensing details please see the <a :href="`https://github.com/${config.org}/${config.repo}/blob/master/LICENSE`">LICENSE</a> file.
        </div>
      </div>
    </div>


    <div class="col_gutter"></div>
  </div>
</div>
